<!-- <ion-content ng-controller="ChatCtrl"> -->
<ion-view>


  <!-- <div class="bar bar-header bar-calm"> -->
    <h1 class="title">Hi, {{auth.profile.nickname}}</h1>
  <!-- </div> -->

  <ul class="list">
  <li class="item" ng-repeat="message in messages">
    <h5>{{message.from}}
    </h5>

    <p>{{message.body}}</p>
    <small>{{message.timestamp | date:'short'}}</small>
  </ul>


  <label class="item item-input">
    <textarea ng-model="message.body" ng-keydown="sendMessage($event)" placeholder="Your Message">
    </textarea>
  </label>
<!-- </ion-content> -->
</ion-view>