<!-- <ion-content ng-controller="ChatCtrl"> -->
<ion-view>
  <label class="item item-input">
    <textarea ng-model="message.from" placeholder="Your Name">
    </textarea>
  </label>

  <div ng-repeat="message in messages">
    <h5>{{message.from}}
    </h5>

    <p>{{message.body}}</p>
    <small>{{message.timestamp | date:'short'}}</small>
  </div>



  <label class="item item-input">
    <textarea ng-model="message.body" ng-keydown="sendMessage($event)" placeholder="Your Message">
    </textarea>
  </label>
<!-- </ion-content> -->
</ion-view>
